In [2]:
import pandas as pd

# Loading up the citi bike trip data from 2017 and combining them into one csv
##To find this data visit: https://s3.amazonaws.com/tripdata/index.html

In [2]:
data1 = pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201701-citibike-tripdata.csv')
data2 = pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201702-citibike-tripdata.csv')
data3 = pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201703-citibike-tripdata.csv')
data4 =pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201704-citibike-tripdata.csv')
data5 =pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201705-citibike-tripdata.csv')
data6 =pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201706-citibike-tripdata.csv')
data7 =pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201707-citibike-tripdata.csv')
data8 =pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201708-citibike-tripdata.csv')
data9 =pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201709-citibike-tripdata.csv')
data10 =pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201710-citibike-tripdata.csv')
data11 =pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201711-citibike-tripdata.csv')
data12 =pd.read_csv('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\nyc_citi\\201712-citibike-tripdata.csv')

citi = pd.concat([data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12],ignore_index=True,sort=False)
citi.to_csv('all_trips.csv')

# Now I am formating all the dock activity, meaning total start and stop of trips at each dock, in the Citi Bike trip data so I can import it into my postgresql database

In [69]:
x=citi[['start station name','start station latitude','start station longitude']]
a=x['start station name'].value_counts().rename_axis('station_name').reset_index(name='counts_1')
start =a.assign(lat=x['start station latitude']) 
start =start.assign(long=x['start station longitude'])
start

x=citi[['end station name','end station latitude','end station longitude']]
a=x['end station name'].value_counts().rename_axis('station_name').reset_index(name='counts_2')
end =a.assign(lat=x['end station latitude']) 
end=end.assign(long=x['end station longitude'])
end

all= start.assign(counts_2=start['counts_1']) 
all['sum']=all['counts_1']+all['counts_2']
all=all.drop(columns=['counts_1','counts_2'])
all

                            station_name        lat       long     sum
0                  Pershing Square North  40.782750 -73.971370  325432
1                     E 17 St & Broadway  40.729236 -73.990868  224436
2                     Broadway & E 22 St  40.776829 -73.963888  217180
3                        W 21 St & 6 Ave  40.776829 -73.963888  214266
4                  West St & Chambers St  40.776829 -73.963888  211220
5                        8 Ave & W 31 St  40.773407 -73.977825  194166
6                        8 Ave & W 33 St  40.769155 -73.981918  189744
7                       W 20 St & 11 Ave  40.751726 -73.987535  181436
8                       12 Ave & W 40 St  40.701485 -73.986569  173666
9                        W 41 St & 8 Ave  40.775794 -73.976206  170164
10                       W 38 St & 8 Ave  40.742909 -73.977061  167644
11                    Carmine St & 6 Ave  40.745168 -73.986831  164078
12                    Broadway & E 14 St  40.755273 -73.983169  163894
13     Grand Army Plaza & Central Park S  40.734232 -73.986923  163370
14                Central Park S & 6 Ave  40.760094 -73.994618  157468
15               University Pl & E 14 St  40.778567 -73.977550  155850
16                 Lafayette St & E 8 St  40.760094 -73.994618  155362
17                 Greenwich Ave & 8 Ave  40.765849 -73.986905  154746
18              Cleveland Pl & Spring St  40.750977 -73.987654  152228
19         Christopher St & Greenwich St  40.732241 -74.000264  151334
20                       W 18 St & 6 Ave  40.771183 -73.964094  149570
21            South End Ave & Liberty St  40.707873 -74.001670  149306
22                        Great Jones St  40.722174 -73.983688  148666
23                       W 31 St & 7 Ave  40.727103 -74.002971  148558
24                       W 33 St & 7 Ave  40.764618 -73.987895  148312
25                    Broadway & W 60 St  40.764618 -73.987895  144226
26               Centre St & Chambers St  40.764618 -73.987895  141436
27                       6 Ave & W 33 St  40.752062 -73.981632  140452
28                     E 7 St & Avenue A  40.730386 -74.002150  137300
29                       1 Ave & E 16 St  40.768254 -73.988639  133640
..                                   ...        ...        ...     ...
789              3 Ave & Schermerhorn St  40.717452 -73.958509     190
790   Bike The Branches - Central Branch  40.716059 -73.991908     184
791                       Adventures NYC  40.752062 -73.981632     138
792                         8D Mobile 01  40.727791 -73.985649     132
793                NYCBS Depot BAL - DYR  40.717452 -73.958509      96
794              Kiosk in a box Motivate  40.769155 -73.981918      86
795               Convent Ave & W 129 St  40.718502 -73.983299      82
796                         Hs Don't Use  40.755273 -73.983169      68
797                         WS Don't Use  40.708704 -73.944862      60
798                       31 St & 35 Ave  40.750977 -73.987654      50
799                31 St & Northern Blvd  40.729060 -73.957790      46
800                     8D QC Station 01  40.730473 -73.986724      32
801                    NYCBS Depot - PIT  40.739974 -74.005139      32
802                            8D OPS 01  40.728846 -74.008591      30
803                    NYCBS Depot - RIS  40.735238 -74.000271      26
804                        GOW Tech Shop  40.684355 -73.989016      22
805  Expansion Warehouse 333 Johnson Ave  40.730386 -74.002150      22
806                  W 45 St & 6 Ave (1)  40.739126 -73.979738      20
807                        JSQ Don't Use  40.726281 -73.989780      16
808                 Gowanus Tech Station  40.707873 -74.001670      14
809                    SSP Tech Workshop  40.707873 -74.001670      14
810                    NYCBS Depot - FAR  40.798994 -73.966217      10
811               NYCBS DEPOT - DELANCEY  40.712690 -73.987763       8
812               Leonard St & Bayard St  40.740983 -74.001702       8
813                         LPI Facility  40.668127 -73.983776       4
814               Expansion Tech Station  40.723180 -73.994800       4
815       NYCBS Depot - STY - Valet Scan  40.736494 -73.997044       4
816                   333 Johnson TEST 1  40.661063 -73.979453       2
817               Crown St & Bedford Ave  40.691029 -73.991834       2
818       Morningside Dr & Amsterdam Ave  40.751551 -73.993934       2

[819 rows x 4 columns]

# The code below is importing and also makes all those long and lats into point types within the postgresql database using postgis

In [70]:
import sqlalchemy
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://USERNAME:PASSWORD@localhost:5432/DATABASENAME',encoding='utf-8', echo=True)
con = engine.connect()
all.to_sql('all_trips', con)
con.close()
conn = psycopg2.connect("host=HOSTNAME dbname=DATABASENAME user=USERNAME password=PASSWORD")
cur = conn.cursor()

command="""
 ALTER TABLE start_points ADD COLUMN geom geometry(Point, 4326);
 UPDATE start_points SET geom=st_SetSrid(ST_MakePoint(start_long, start_lat), 4326);
"""
cur.execute(command)    
conn.commit()

2018-11-30 23:19:06,960 INFO sqlalchemy.engine.base.Engine select version()
2018-11-30 23:19:06,962 INFO sqlalchemy.engine.base.Engine {}
2018-11-30 23:19:06,966 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-11-30 23:19:06,967 INFO sqlalchemy.engine.base.Engine {}
2018-11-30 23:19:06,972 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-30 23:19:06,973 INFO sqlalchemy.engine.base.Engine {}
2018-11-30 23:19:06,975 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-30 23:19:06,976 INFO sqlalchemy.engine.base.Engine {}
2018-11-30 23:19:06,977 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-11-30 23:19:06,978 INFO sqlalchemy.engine.base.Engine {}
2018-11-30 23:19:06,993 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-11-30 23:19:06,994 INFO sqlalchemy.engine.base.Engine {'name': 'all_trips'}
2018-11-30 23:19:06,999 INFO sqlalchemy.engine.base.Engine
CREATE TABLE all_trips (
	index BIGINT,
	station_name TEXT,
	lat FLOAT(53),
	long FLOAT(53),
	sum BIGINT
)


2018-11-30 23:19:07,000 INFO sqlalchemy.engine.base.Engine {}
2018-11-30 23:19:07,024 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-30 23:19:07,037 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_all_trips_index ON all_trips (index)
2018-11-30 23:19:07,038 INFO sqlalchemy.engine.base.Engine {}
2018-11-30 23:19:07,051 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-30 23:19:07,054 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-30 23:19:07,153 INFO sqlalchemy.engine.base.Engine INSERT INTO all_trips (index, station_name, lat, long, sum) VALUES (%(index)s, %(station_name)s, %(lat)s, %(long)s, %(sum)s)
2018-11-30 23:19:07,154 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'station_name': 'Pershing Square North', 'lat': 40.78275, 'long': -73.97137, 'sum': 325432}, {'index': 1, 'station_name': 'E 17 St & Broadway', 'lat': 40.7292365, 'long': -73.99086803, 'sum': 224436}, {'index': 2, 'station_name': 'Broadway & E 22 St', 'lat': 40.77682863, 'long': -73.96388769, 'sum': 217180}, {'index': 3, 'station_name': 'W 21 St & 6 Ave', 'lat': 40.77682863, 'long': -73.96388769, 'sum': 214266}, {'index': 4, 'station_name': 'West St & Chambers St', 'lat': 40.77682863, 'long': -73.96388769, 'sum': 211220}, {'index': 5, 'station_name': '8 Ave & W 31 St', 'lat': 40.7734066, 'long': -73.97782542, 'sum': 194166}, {'index': 6, 'station_name': '8 Ave & W 33 St', 'lat': 40.76915505, 'long': -73.98191841, 'sum': 189744}, {'index': 7, 'station_name': 'W 20 St & 11 Ave', 'lat': 40.75172632, 'long': -73.98753523, 'sum': 181436}  ... displaying 10 of 819 total bound parameter sets ...  {'index': 817, 'station_name': 'Crown St & Bedford Ave', 'lat': 40.69102926, 'long': -73.99183363, 'sum': 2}, {'index': 818, 'station_name': 'Morningside Dr & Amsterdam Ave', 'lat': 40.751551, 'long': -73.993934, 'sum': 2})
2018-11-30 23:19:07,274 INFO sqlalchemy.engine.base.Engine COMMIT

# Now I need to upload the survey zone polygons into the posgresql database. The code below does that by creating the table and formatting the json file so it imports and also changes to a polygon type within the database.

In [63]:
import json
import numpy as np
from pandas.io.json import json_normalize

with open('C:\\Users\\Gabriel Hidalgo\\PycharmProjects\\Maps\\survey_zones.geojson') as data_file:    
    data_2 = json.load(data_file)

conn = psycopg2.connect("host=HOST dbname=NAME user=USERNAME password=PASSWORD")
cur = conn.cursor()
cur.execute("CREATE TABLE survey_zones (ntacode text ,name text,zones geometry(MultiPolygon,4326));")
conn.commit() 
a=0
while a<194:
    z=data_2['features'][a]['geometry']
    x=data_2['features'][a]['properties']['zone_name']
    y=data_2['features'][a]['properties']['ntacode']
    z.update({'crs':{'type':'name','properties':{'name':'EPSG:4326'}}})
    cur.execute("""INSERT INTO survey_zones (zones,name,ntacode)  VALUES(ST_GeomFromGeoJSON(%s),%s,%s)""" ,
               (json.dumps(z),x,y))
    a+=1
    conn.commit()

# Now that I have the citi bike points and Polygons imported into the Postgresql database I am going to find, how much citibike activity occured at each survey data.

In [342]:
sql="SELECT sum,station_name,lat,long,ntacode,name FROM all_trips INNER JOIN survey_zones ON ST_covers(survey_zones.zones,all_trips.points )"
zones =pd.read_sql_query(sql,con=engine)

zones=zones[zones['name']!='']
zones= zones.groupby(['ntacode']).agg('sum')
zones= zones.reset_index()
zones= zones.drop(columns=['lat','long'])
zones = zones.sort_values(by=['sum'])
zones

2018-12-02 13:47:20,902 INFO sqlalchemy.engine.base.Engine SELECT sum,station_name,lat,long,ntacode,name FROM all_trips INNER JOIN survey_zones ON ST_covers(survey_zones.zones,all_trips.points )
2018-12-02 13:47:20,903 INFO sqlalchemy.engine.base.Engine {}

   ntacode      sum
5     BK61      764
34    QN31    60880
9     BK72    81398
12    BK76   128436
2     BK35   138614
11    BK75   159398
30    MN32   209656
29    MN31   238532
31    MN33   251066
33    MN50   251598
8     BK69   266750
6     BK64   276160
0     BK09   294694
13    BK90   302788
14    MN09   557200
20    MN19   586970
1     BK33   587368
26    MN25   616290
4     BK38   643240
7     BK68   674678
32    MN40   707202
10    BK73   748852
22    MN21   796060
28    MN28   871404
27    MN27   936112
25    MN24  1101836
21    MN20  1165410
15    MN12  1392144
23    MN22  1657870
17    MN14  1705616
3     BK37  1770482
18    MN15  2030146
24    MN23  2169440
16    MN13  2232328
19    MN17  2416886

# Then from this table I am creating a new json file that contains those sums and eliminate the survey zones with no citi bike dock activity

In [343]:
only={'type': 'FeatureCollection'}
only['features']=[]  
for i in range(0,len(zones)):
    for z in data_2['features']:
        if zones.iloc[i]['ntacode']==z['properties']['ntacode']:
            z['properties'].update({'sum':str(zones.iloc[i]['sum'])})
            only['features'].append(z)

# Now I am setting the choropleth colors to values of the map by the median, min and max of the trips within the zones

In [288]:
import branca.colormap as cm
from branca.colormap import linear
from numpy import median

colors=['#ff6666','#ffd966','#66ff66']
z_dict = zones.set_index('ntacode')['sum']
color =cm.LinearColormap(colors=colors, index=[zones['sum'].min(),median(list(zones['sum'].values)) ,zones['sum'].max()],vmin=zones['sum'].min(),vmax=zones['sum'].max())

# Importing the points of the citi bike station to cross reference the amount of activity the amount of docks in the zone

In [138]:
sql="SELECT sum,station_name,lat,long,ntacode FROM all_trips INNER JOIN survey_zones ON ST_covers(survey_zones.zones,all_trips.points )"
points =pd.read_sql_query(sql,con=engine)
points

2018-12-01 15:59:15,506 INFO sqlalchemy.engine.base.Engine SELECT sum,station_name,lat,long,ntacode FROM all_trips INNER JOIN survey_zones ON ST_covers(survey_zones.zones,all_trips.points )
2018-12-01 15:59:15,507 INFO sqlalchemy.engine.base.Engine {}

        sum                         station_name        lat       long ntacode
0    325432                Pershing Square North  40.782750 -73.971370    MN12
1    224436                   E 17 St & Broadway  40.729236 -73.990868    MN22
2    189744                      8 Ave & W 33 St  40.769155 -73.981918    MN14
3    181436                     W 20 St & 11 Ave  40.751726 -73.987535    MN17
4    173666                     12 Ave & W 40 St  40.701485 -73.986569    BK38
5    167644                      W 38 St & 8 Ave  40.742909 -73.977061    MN20
6    164078                   Carmine St & 6 Ave  40.745168 -73.986831    MN17
7    163894                   Broadway & E 14 St  40.755273 -73.983169    MN17
8    163370    Grand Army Plaza & Central Park S  40.734232 -73.986923    MN21
9    157468               Central Park S & 6 Ave  40.760094 -73.994618    MN15
10   155850              University Pl & E 14 St  40.778567 -73.977550    MN14
11   155362                Lafayette St & E 8 St  40.760094 -73.994618    MN15
12   154746                Greenwich Ave & 8 Ave  40.765849 -73.986905    MN15
13   152228             Cleveland Pl & Spring St  40.750977 -73.987654    MN17
14   151334        Christopher St & Greenwich St  40.732241 -74.000264    MN23
15   149570                      W 18 St & 6 Ave  40.771183 -73.964094    MN40
16   149306           South End Ave & Liberty St  40.707873 -74.001670    MN25
17   148666                       Great Jones St  40.722174 -73.983688    MN22
18   148558                      W 31 St & 7 Ave  40.727103 -74.002971    MN24
19   148312                      W 33 St & 7 Ave  40.764618 -73.987895    MN15
20   144226                   Broadway & W 60 St  40.764618 -73.987895    MN15
21   141436              Centre St & Chambers St  40.764618 -73.987895    MN15
22   140452                      6 Ave & W 33 St  40.752062 -73.981632    MN20
23   137300                    E 7 St & Avenue A  40.730386 -74.002150    MN23
24   133640                      1 Ave & E 16 St  40.768254 -73.988639    MN15
25   132716                   E 47 St & Park Ave  40.764618 -73.987895    MN15
26   132458                   Broadway & W 58 St  40.764618 -73.987895    MN15
27   130502                      W 24 St & 7 Ave  40.754666 -73.991382    MN17
28   128926             Lafayette St & Jersey St  40.750585 -73.994685    MN13
29   127702                      W 27 St & 7 Ave  40.754666 -73.991382    MN17
..      ...                                  ...        ...        ...     ...
716     190              3 Ave & Schermerhorn St  40.717452 -73.958509    BK73
717     184   Bike The Branches - Central Branch  40.716059 -73.991908    MN27
718     138                       Adventures NYC  40.752062 -73.981632    MN20
719     132                         8D Mobile 01  40.727791 -73.985649    MN22
720      96                NYCBS Depot BAL - DYR  40.717452 -73.958509    BK73
721      86              Kiosk in a box Motivate  40.769155 -73.981918    MN14
722      82               Convent Ave & W 129 St  40.718502 -73.983299    MN28
723      68                         Hs Don't Use  40.755273 -73.983169    MN17
724      60                         WS Don't Use  40.708704 -73.944862    BK90
725      50                       31 St & 35 Ave  40.750977 -73.987654    MN17
726      46                31 St & Northern Blvd  40.729060 -73.957790    BK76
727      32                     8D QC Station 01  40.730473 -73.986724    MN22
728      32                    NYCBS Depot - PIT  40.739974 -74.005139    MN23
729      30                            8D OPS 01  40.728846 -74.008591    MN24
730      26                    NYCBS Depot - RIS  40.735238 -74.000271    MN23
731      22                        GOW Tech Shop  40.684355 -73.989016    BK38
732      22  Expansion Warehouse 333 Johnson Ave  40.730386 -74.002150    MN23
733      20                  W 45 St & 6 Ave (1)  40.739126 -73.979738    MN20
734      16                        JSQ Don't Use  40.726281 -73.989780    MN22
735      14                 Gowanus Tech Station  40.707873 -74.001670    MN25
736      14                    SSP Tech Workshop  40.707873 -74.001670    MN25
737      10                    NYCBS Depot - FAR  40.798994 -73.966217    MN12
738       8               NYCBS DEPOT - DELANCEY  40.712690 -73.987763    MN28
739       8               Leonard St & Bayard St  40.740983 -74.001702    MN13
740       4                         LPI Facility  40.668127 -73.983776    BK37
741       4               Expansion Tech Station  40.723180 -73.994800    MN24
742       4       NYCBS Depot - STY - Valet Scan  40.736494 -73.997044    MN23
743       2                   333 Johnson TEST 1  40.661063 -73.979453    BK99
744       2               Crown St & Bedford Ave  40.691029 -73.991834    BK09
745       2       Morningside Dr & Amsterdam Ave  40.751551 -73.993934    MN13

[746 rows x 5 columns]

# Finally, I am placing all this data of the new json file Only, and the points into a folium map to see, which area is underserving or overserving zones through the difference between dock # to the total activity

In [293]:
import folium
from folium import FeatureGroup

map = folium.Map(location=[40.767937, -73.982155], zoom_start=13)

folium.GeoJson(data=only,
    name='Zone Amount of Citi Bike Dock Activity',
    style_function=lambda feature: {
        'fillColor': color(z_dict[feature['properties']['ntacode']]),
        'color': 'black',
        'weight': 3,
        'dashArray': '0',
        'fillOpacity': 0.9,
    },tooltip=folium.GeoJsonTooltip(fields=['zone_name','ntacode','sum'],
                                              labels=False,
                                              sticky=False)
    ,highlight_function=lambda feature: {'weight':4,'fillOpacity': 0.4}
               
).add_to(map)

s = folium.FeatureGroup(name = ' Citi Bike Stations')
for i in range(0,len(points)):
    popup_text = """<center>
                        <font size='4' style="font-family:'Raleway', sans-serif;"><b>Dock</b></font><br>
                        <font size='2' style="font-family:'Raleway', sans-serif;">{}</font><br>
                        <font size='3' style="font-family:'Raleway', sans-serif;"><b>Amount of Activity</b></font><br>
                        <font size='2' style="font-family:'Raleway', sans-serif;">{}</font><br>
                        """
    popup_text = popup_text.format(str(points.iloc[i]['station_name']),str(points.iloc[i]['sum']))
    iframe = folium.IFrame(popup_text, width=185, height=90)
    popup = folium.Popup(iframe, max_width=400)
    
    s.add_child(folium.CircleMarker([points.iloc[i]['lat'],points.iloc[i]['long']],
            popup=popup,radius= 2, color= "#6666ff",fill=True))

color.caption = 'Amount of Citi Dock Activity'
color.add_to(map)    

map.add_child(s)

folium.LayerControl().add_to(map)
    
map.save('citi_zones.html')

# Finally, I am creating a table to make these points clearer

In [331]:
sql="SELECT sum,station_name,lat,long,ntacode,name FROM all_trips INNER JOIN survey_zones ON ST_covers(survey_zones.zones,all_trips.points )"
x =pd.read_sql_query(sql,con=engine)

boro= x.groupby(['name']).agg('sum')
boro= boro.reset_index()
boro=boro.sort_values(by=['sum'])
boro= boro.drop(columns=['lat','long'])
boro=boro.sort_values(by='sum', ascending=False).reset_index(drop=True)

dock =x['name'].value_counts().rename_axis('Dock').reset_index(name='Amount')
dock = dock.assign(sum=boro['sum']) 

dock['Utilization']=dock['Amount']/dock['sum']
dock.columns=['Docks','# of Docks','Total Activity','Utilization']
dock=dock[dock['Docks']!='']
html= dock.to_html(index=False)
html=html.replace('\n','')
html

2018-12-01 21:39:57,561 INFO sqlalchemy.engine.base.Engine SELECT sum,station_name,lat,long,ntacode,name FROM all_trips INNER JOIN survey_zones ON ST_covers(survey_zones.zones,all_trips.points )
2018-12-01 21:39:57,562 INFO sqlalchemy.engine.base.Engine {}

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th>Docks</th>      <th># of Docks</th>      <th>Total Activity</th>      <th>Utilization</th>    </tr>  </thead>  <tbody>    <tr>      <td>Manhattan Core</td>      <td>556</td>      <td>21085500</td>      <td>0.000026</td>    </tr>    <tr>      <td>Inner Brooklyn</td>      <td>158</td>      <td>6073622</td>      <td>0.000026</td>    </tr>    <tr>      <td>Northern Manhattan</td>      <td>16</td>      <td>894104</td>      <td>0.000018</td>    </tr>    <tr>      <td>Inner Queens</td>      <td>3</td>      <td>60880</td>      <td>0.000049</td>    </tr>  </tbody></table>'